body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #C8E8C8;
  }
  
  h1 {
    color: #333;
    margin-top: 50px;
  }
  
  #timer {
    font-size: 20px;
    margin: auto;
  }
  
  #currentMessage {
    font-size: 18px;
    color: #000000;
    margin: 25px auto;
  }
  
