* {
  margin:0;
  padding:0;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffff;
  }
  
  a{
    color: rgb(255, 255, 255);
  }

  header {
    background-color: #333;
    width: 100%;

  }

  h1 {
    color: #000000;
    margin-top: 50px;
  }
  
  #timer {
    font-size: 20px;
    margin: auto;
  }
  
  #currentMessage {
    font-size: 18px;
    color: #000000;
    margin: 25px auto;
  }
  

  

  header {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    overflow:hidden; /* Eliminamos errores de float */
    background:#eaffc2;
    margin-bottom:20px;
  }
  
  .wrapper {
    width:90%; /* Establecemos que el ancho sera del 90% */
    max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
    margin:auto; /* Centramos los elementos */
    overflow:hidden; /* Eliminamos errores de float */
  }
  
  header .logo {
    color:#f2f2f2;
    font-size:50px;
    line-height:20px;
    float:left;
  }
  
  header nav {
    float:right;
    margin: 20px;
    line-height:20px;
  }
  
  header nav a {
    display:inline-block;
    color:#000000;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:15px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    margin-top: 7px;
  }
  
  header nav a:hover {
    background:#d7c2ff;
    border-radius:50px;
  }
  img{
    height: 80px;
  }

  @media screen and (max-width:800px ) {
    img {
      display: flex;  
      height: 60px;
      padding:5px 20px;
      margin: ;
    }
    header nav a {
      display: flex;
      color:#000000;
      text-decoration:none;
      padding:5px 20px;
      line-height:normal;
      font-size:12px;
      font-weight:bold;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease;
    }
  }